In [6]:
# Q1. Ans:-

In [7]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
data=(4,8,15,16,23,42)
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Q2. Ans:-

In [7]:
my_list=[1,2,3,4,5,6,7,8,9,10]
my_series=pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
# Q3. Ans:-

In [9]:
data={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']}
my_dataframe=pd.DataFrame(data)
print(my_dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# Q4 Ans:-

In [14]:
'''In pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with rows and columns, similar to a spreadsheet or SQL table. It is a primary data structure used in pandas for data manipulation, analysis, and cleaning tasks. A DataFrame is essentially a collection of Series objects, where each column of the DataFrame is a Series.

The main difference between a DataFrame and a Series is that a DataFrame can store multiple columns of data, while a Series stores only a single column of data. In other words, a DataFrame is a collection of Series that share the same index.

Here's an example to illustrate the difference between a DataFrame and a Series. Let's say we have data on the height, weight, and age of three individuals: '''


import pandas as pd
data = {'height': [170, 180, 175],
        'weight': [70, 75, 80],
        'age': [30, 35, 40]}

dataframe = pd.DataFrame(data)

height_series = pd.Series(data['height'])
print('dataframe:\n',dataframe)

dataframe:
    height  weight  age
0     170      70   30
1     180      75   35
2     175      80   40

In [15]:
print('series:\n',height_series)

series:
 0    170
1    180
2    175
dtype: int64

In [19]:
# Q5 Ans:-

In [20]:
#  1.head() and tail(): to display the first or last n rows of a DataFrame, respectively.

#   2.info(): to display information about the DataFrame, such as the data types of each column and the number of non-null values.

#   3.describe(): to display statistical summary of the DataFrame, such as count, mean, standard deviation, minimum, maximum and percentiles of the numeric columns.

#   4.drop(): to remove rows or columns from the DataFrame.

#   5.fillna(): to replace missing values in the DataFrame with a specified value or a calculated value.

#   6.groupby(): to group the DataFrame by one or more columns and perform aggregate functions on each group.

#   7.sort_values(): to sort the DataFrame by one or more columns.

#   8.merge(): to combine two DataFrames based on a common column.

#   9.pivot_table(): to create a pivot table from the DataFrame. '''

In [21]:
# Q6 Ans:-

In [23]:
# In pandas, both Series and DataFrame are mutable in nature. This means that we can change the values in a Series or DataFrame after they have been created. For example, we can add or delete rows or columns, update values in a DataFrame, or modify values in a Series.

#  On the other hand, Panel is a three-dimensional data structure in pandas which has been deprecated since version 0.25.0. As of pandas version 1.0.0, the recommended way to handle three-dimensional data is to use MultiIndex in DataFrame or xarray package. Therefore, Panel is not relevant for current versions of pandas.

In [24]:
# Q7 Ans:-

In [25]:
# lets Create three series 
name=pd.Series(['Mahesh','Mahi','Maya'])
age=pd.Series([21,22,20])
country=pd.Series(['India','UK','Canada'])

# lets create Dataframe
dataframe={'Name':name,'Age':age,'Country':country}
df=pd.DataFrame(dataframe)
print(df)

     Name  Age Country
0  Mahesh   21   India
1    Mahi   22      UK
2    Maya   20  Canada